body {
background-color: black;
}

h1{
font: size 20px;
font-family:'Courier New', Courier, monospace;
color: green;
background-color: aquamarine;
}
/*
Nothing change for the time being.
*/
p{
color:aqua;
}

img{
float:right;
}